<%= render "shared/header" %>

<div class="wrapper">
  <div class="opacity-paper">
    <main class="main">
      <div class="middle--content">
        <p class="index">みんなのごはん</p>
      </div>

      <div class="bottom--content">
        <div class="menu-lists">
          <% @menus.each do |menu| %>
            <div class="menu">
              <%= link_to menu_path(menu) do %>
                <% if menu.image.attached? %>
                <%= image_tag menu.image.variant(combine_options:{gravity: :center, resize:"640x640^", crop:"640x640+0+0"}).processed, class:"menu-img" %>
                <% end %>
                <div class="menu-body">
                  <div class="menu-title">
                    <%= menu.title %>
                  </div>
                  <div id="bookmark_<%= menu.id %>", class="bookmark-icon">
                    <%= render partial: "bookmarks/bookmark", locals: { menu: menu } %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </main>
  </div>
  <%= render "shared/footer" %>
</div>