<%= render "shared/header" %>

<div class="wrapper">
  <div class="opacity-paper">
    <main class="main">
      <div class="praise">
        <div class="upper-praise">
          <p>エライ！！！！！！！！</p>
        </div>
        <%= image_tag "praise.png", class: "praise-img" %>
        <% if user_signed_in? %>
          <p>
            上手にできたら記録しておきましょう！
          </p>
          <%= button_to "記録する", new_menu_path, method: :get, class: "praise-btn" %>
        <% else %>
          <p>
          ログインして記録しておきましょう！
          </p>
          <%= button_to "ログインする", new_user_session_path, class: "praise-btn" %>
        <% end %>
      </div>
    </main>
  </div>
  <%= render "shared/footer" %>
</div>
