<%= render "shared/header" %>
<div class="wrapper">
  <div class="opacity-paper">
    <main class="main">
      <div class="upper-content">
        <div class="today">
          今日のごはん決めた？
        </div>
        <div class="yes-or-yet">
            <div class="select-icon", id="open">決めた！</div>
            <%#= button_to "決めた！", praise_menus_path, method: :get, class: "select-icon",id: "to-praise" %>
            <%= button_to "まだ", refrigerators_path, method: :get, class: "select-icon" %>
        </div>
      </div>


      <div class="middle-content">
        <%= link_to "みんなのごはんを全部見る➡︎", menus_path, class: "to-index" %>
      </div>

      <div class="bottom-content">
        <div class="menu-lists">
          <% @menus.each do |menu| %>
            <div class="menu">
              <%= link_to menu_path(menu) do %>
                <% if menu.image.attached? %>
                <%= image_tag menu.image.variant(combine_options:{gravity: :center, resize:"640x640^", crop:"640x640+0+0"}).processed, class:"menu-img" %>
                <% end %>
                <div class="menu-body">
                  <div class="menu-title">
                    <%= menu.title %>
                  </div>
                  <div id="bookmark_<%= menu.id %>", class="bookmark-icon">
                    <%= render partial: "bookmarks/bookmark", locals: { menu: menu } %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to "メニューを増やす", administrator_refrigerators_path %>
        <% end %>
      <% end %>
    </main>
  </div>
  <%= render "shared/footer" %>
</div>

<div class="hidden", id="background"></div>
<div class="hidden" id="praise">
  <div class="praise">
    <div class="close-btn" id="close-btn">×</div>
    <div class="upper-praise">
      <p>エライ！！！！！！！！</p>
    </div>
    <%= image_tag "praise.png", class: "praise-img" %>
    <% if user_signed_in? %>
      <p class="bottom-praise">
        上手にできたら記録しておきましょう！
      </p>
      <%= button_to "記録する", new_menu_path, method: :get, class: "praise-btn" %>
    <% else %>
      <p class="bottom-praise">
        ログインして記録しておきましょう！
      </p>
      <%= button_to "ログインする", new_user_session_path, class: "praise-btn" %>
    <% end %>
  </div>
</div>
