<main class="main">
  <div class="inner">
    <h1 class="page-heading">condate!</h1>
    <% if user_signed_in? %>
      <%= link_to "マイページ", user_path(current_user) %> 
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
    <% end %>
    <%= link_to "投稿する？", new_menu_path %>
    <div class="search">
      <h3>今日のごはん決めた？</h3>
      <%= link_to "決めた！", praise_menus_path %>
      <%= link_to "まだ", root_path %>
    </div>
    <div>
      <%= link_to "みんなのごはんを全部見る", menus_path %>
    </div>

     <div class="card__wrapper">
      <% @menus.each do |menu| %>
        <%= link_to menu_path(menu) do %>
          <div class="card">
            <%= image_tag menu.image.variant(resize:'200x200'), class:"card__img" %>
            <% end %>
          <div class="card__body">
            <h2 class="card__title"><%= menu.title %></h2>
            <p class="card__summary">
              <%= menu.url %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>