<%= render "shared/header" %>

<div class="wrapper">
  <div class="opacity-paper">
    <main class="main">
      <div class="in-fridge">
        <% if @results.length != 0 %>
          <% @results.each do |result| %>
            <p class="in-fridge-title">今日のごはんは・・・</p>
            <%= image_tag result.image %> 
            <p class="in-fridge-title"><%= result.cooking %>！</p>
            <div class="fridge-btns">
            <%= link_to "レシピを探す？", result.url,class: "fridge-btn" %>
            <%= button_to "トップページへ", root_path, method: :get, class: "fridge-top-btn" %>
          <% end %>
        <% else %>
          <p class="in-fridge-title">今日は外食にしましょう！！！！</p>
          <%= image_tag "gaisyoku.png" %>
          <%= button_to "トップページへもどる", root_path, method: :get, class: "btn" %>
        <% end %>
      </div>
    </main>
  </div>
  <%= render "shared/footer" %>
</div>
