<%= render "shared/header" %>

<main class="mypage">
  <%= render "profile" %>
  <ul class="change-lists">
    <li class="list">
      <%= link_to "ごはんリスト", user_path(current_user), class: "gohan-list" %>
    </li>
    <li class="now-list">
      <%= link_to "ブックマークリスト", bookmarks_users_path, class: "bookmark-list-now" %>
    </li>
  </ul>
  <div class="menu-lists">
    <% @bookmark_menus.each do |menu| %>
      <div class="menu">
        <%= link_to menu_path(menu) do %>
          <% if menu.image.attached? %>
          <%= image_tag menu.image.variant(combine_options:{gravity: :center, resize:"640x640^", crop:"640x640+0+0"}).processed, class:"menu-img" %>
          <% end %>
          <div class="menu-body">
            <div class="menu-title">
              <%= menu.title %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</main>