<%= render "shared/header" %>

<div class="account-page">
  <div class="account-page-title">
    ログイン
  </div>
  
  <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
    <div class="account-page-form">
      <div class='field'>
        <%= f.label "メールアドレス" %>
        <%= f.email_field :email, class: 'field-input'%>
      </div>
      <div class='field'>
        <%= f.label "パスワード" %>
        <%= f.password_field :password, autocomplete: "off", class: 'field-input'%>
      </div>
      <div>
      <%= f.submit "ログインする", class: 'btn'%>
      </div>
      <div class='actions'>
        アカウントをお持ちでない方はこちら
        <%= link_to "新規登録", new_user_registration_path, class: "here" %>
      </div>
    </div>
  <% end %>
</div>