<!DOCTYPE html>
<html>
  <head>
    <title>condate bear</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
